

[data-icon="add"]:hover:before, [data-icon-after="add"]:hover:after {
  color: black;
  background-color: white;
  font-size: 1rem;
}

[data-icon="add"]:before,[data-icon-after="add"]:after {
  font-size: 1rem;
}

.st-block-controls {
  padding: 0;
  background-color: white;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
}

.st-block-controls .st-icon {
  display: none;
}

.st-block-control {
  font-size: 0.8rem;
  display: inline-block;
  padding: 0.8rem 1rem 0.6rem;
  background-color: #FFF;
  margin: 0;
  color: gray;
}

.st-block-control:hover {
  background-color: gray;
  color: white;
}

.st-block-ui-btn {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-size: 1rem;
  color: black;
}

.st-block__inner:hover, .st-block-ui-btn, .st-block-control-ui-btn {
  border-color: #eee;
}

.st-block-controls__button {
  font-family: "Guardian Text Sans Web";
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
}

.st-block-controls__button:hover {
  color: white;
  background: gray;
}

.st-block-addition__button {
  border-radius: 50%;
}

.js-cite-input {
  margin-bottom: 1.5rem !important; /* TODO: remove this */
}
