@import '../global/variables';

.header {
  max-height: 2.5rem;
  min-width: 100vw;
  background-color: map_get($pasteup-palette, neutral-4);
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid map_get($pasteup-palette, neutral-3);
}
